/* ------------------------- Ogólny styl -------------------------- */
body {
    margin: 0;
    background: #ffffff;
}

/* ukrywa dod=wolny element */
.hidden { 
    display: none !important;
}

/* ------------------------- Nawigacja z przyciskiem powrotu -------------------------- */
.return-nav { /* dodaje odstep wokol strzalki */
    padding: 1rem;
}
/* przycisk nawigacji powrotu - strzalka na niebieskim tle */
.back-arrow {
    display: inline-block;
    background: rgb(0, 59, 84); /* tło nawigacji  */
    color: #ffffff; /* przycisk nawigacji tekst */
    padding: 0.5rem 1rem;
    border-radius: 40%;
    text-decoration: none;
    font-size: 1.2rem;
}

/* ------------------------- Formularz -------------------------- */
/* formularz glowny - biala ozdobna ramka na formularz */
.form-wrapper {
    width: 65%;
    margin: 2rem auto;
    padding: 2rem;
    border: 2.5px dashed rgb(117, 0, 25);
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.5px 20px rgb(117, 0, 25, 0.4);
}
/* tytul formularza - letter to santa */
.form-title {
    margin-bottom: 1.5rem;
    color: rgb(117, 0, 25);
    font-size: 1.6rem;
    font-weight: bold;
}

/* ------------------------- Przyciski About Me i WishList -------------------------- */
/* rozmieszczenie przyciskow */
.section-tabs {
    display: flex;
    gap: 1rem;
    justify-content: center; /* przyciski nawigacyjne wyśrodkowane */
    margin-bottom: 1.5rem;
}

.tab-button { /* styl przyciskow About Me i Wishlist */
    padding: 0.5rem 1.3rem;
    border-radius: 1rem;
    border: 1.5px solid rgb(0, 59, 84);
    background: #ffffff;
    color: rgb(0, 59, 84);
    cursor: pointer;
}

.tab-button.active { /* styl aktywnego przycisku */
    background: rgb(0, 59, 84);
    color: #ffffff;
}

/* ------------------------- Sekcja z name i age -------------------------- */
.form-section { /*rozmieszczenie Name i Age */
    border: none;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column; /* elementy w pionie, etykiety nad polami */
}

/* styl napoisow Name i Age */
label {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(0, 59, 84);
}
/* wpisywane dane w pola Name i Age */
input {
    margin-top: 0.5rem;
    padding: 0.7rem;
    border: 1.5px solid rgb(0, 59, 84);
    border-radius: 0.8rem;
    font-size: 1rem;
}


/* styl komunikatu błędu */
.error-message {
    color: rgb(160, 0, 0);
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.error-message.error::before {
    content: "X ";
    font-weight: bold;
    color: rgb(160, 0, 0);
}

label.error {
    color: rgb(160, 0, 0);
}



/* ------------------------- Przyciski Submit (Sent to Santa) i Reset (Start over)-------------------------- */
.form-buttons { /*rozmieszczenie przyciskow */
    display: flex;
    justify-content: flex-end; /* wyrówanane do prawej strony */
    gap: 1rem;
}

/* przycisk send to santa */
.send-btn {
    padding: 0.6rem 1.3rem;
    background: rgb(0, 59, 84);
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* przycisk start over */
.reset-btn {
    padding: 0.6rem 1.3rem;
    background: #ffffff;
    border: 1.5px solid rgb(0, 59, 84);
    border-radius: 1rem;
    color: rgb(0, 59, 84);
    cursor: pointer;
}

/* ------------------------- List do Świętego Mikołaja -------------------------- */
/* prostokat na list */
#santa-letter {
    width: 65%;
    margin: 1rem auto;
    padding: 2rem;
    border: 2.5px dashed rgb(117, 0, 25); 
    border-radius: 2rem;
    background: #ffffff;
    box-shadow: 0 0.5px 20px rgba(117, 0, 25, 0.4);
}


#santa-letter h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(117, 0, 25);
}

#letter-text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgb(0, 59, 84); 
}

.wishlist-options {
    display: flex;
    flex-direction: column;  
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.wishlist-options label {
    display: flex;
    align-items: center;    
    font-size: 1rem;
    color: rgb(0, 59, 84);
}

.wishlist-options input[type="radio"] {
    margin-right: 0.5rem;    
}


