/* ------------------------------ Ogólny styl ------------------------------ */

body {
    margin: 0;
    padding: 0;
    background: white; /* tło strony */
    font-family: "Mountains of Christmas", serif;
}

/* ------------------------------ Header - gora z miastem ------------------------------ */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:
        url("assets/town.png"),         /* dolna warstwa */
        url("assets/stars.png"),        /* środkowa warstwa – gwiazdy */
        linear-gradient(rgb(0,59,84), rgb(253, 253, 253)); /* górna warstwa */
    background-repeat:
        no-repeat,
        repeat-x,
        no-repeat;
    background-position:
        bottom center,
        top center,
        top;
    background-size:
        cover,
        auto,
        cover;
    position: relative;
    padding-top: 6rem;
}


/* ------------------------------ Nagłówek z tekstem Merry Christmas i biale tlo ------------------------------ */

.header-title {
    background: rgba(255, 255, 255, 0.85); /* tło nagłówka */
    padding: 1.5rem 3rem;
    text-align: center; /* tekst nagłówka wyśrodkowany */
    border-radius: 0.5rem;
    max-width: 80%; /*tekst nagłówka nie powinien wychodzić poza biały kontener */
    min-width: 800px;
    color: rgb(117, 0, 25); /* kolor tekstu w nagłówku */
}

/* ------------------------------ Menu - hamburger (trzy kreeski na dole) ------------------------------ */

.menu-icon {
    position: absolute; /* pozycjonowanie absolutne względem nagłówka */
    left: 1rem; /* lewy margines ikony menu */
    bottom: 1rem; /* dolny margines ikony menu */
    font-size: 2rem; 
    color: white; /* kolor ikony menu */
    cursor: pointer;
}
/* ukryte menu hamburgerowe - to co sie pojawia jak najade na menu */
.menu {
    position: absolute;
    left: 1rem;
    bottom: 3.5rem;
    display: none; 
    flex-direction: column;
    background: rgba(255, 255, 255, 0.85); /* tło menu */
    padding: 0.5rem;
    border-radius: 0.5rem;
}
/* styl napisow w menu ukrytym - Write to santa, about i discover */
.menu a {
    text-decoration: none;
    color: rgb(117, 0, 25); /* Tekst menu */
    padding: 0.7rem;
}

/* pojawia się po najechaniu kursorem na symbol menu */
.menu-icon:hover + .menu,
.menu:hover {
    display: flex;
}

/* ------------------------------ Sekcja główna ------------------------------ */

main {
    width: 80%; /* 80% dostepnej szerokosci ekranu */
    margin: 3rem auto; /* wysrodkowana w poziomie */
}

/* tytul sekcji Top christmas songs */
.main-title {
    text-align: center; /* wysrodkowany nagłówek */
    color: rgb(117, 0, 25); /* kolor naglowka main */
}

.main-description {
    text-align: justify; /* wyjustowany akapit */
    color: black
}

/* ------------------------------ Trzy karty ------------------------------ */
/* kontener na karty, czyli jak sa rozmieszczone, jedcna pod druga z odstepami */
.cards {
    display: flex;
    width: 100%; /* karty zajmują całą dostępną szerokość */
    flex-direction: column; /* ustawione w pionie */
    gap: 2rem; /* odstep między kartami */
    margin-top: 3rem;
}

/* pojedyncza karta */
.card {
    background: white; /* kolor kart */
    display: flex; /* bez nachodzenia na siebie */
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3); /* cień kart */
    align-items: center; /* karty wysrodkowane */
}

/* Blur efekt kart piosenek */
.card {
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.card:hover {
    filter: blur(0);
}


/* obrazek w karcie */
.card img {
    max-width: 30%; /* obrazek zweza sie razem z kartą */
    height: auto;
    border-radius: 0.5rem;
}

/* styl tytulu piosenek */
.card-text h3 {
    color: black; /* nagłowek w postaci tutulu piosenki */
    margin: 0 0 2.5rem 0;
}

/*tekst */
.card-text p:not(.song-artist) {
    color: black;   /* zwykły tekst */
}

/* styl imienia artysty */
.song-artist {
    font-weight: bold; /* pogrubiony teskt artysty */
    color: rgb(117, 0, 25); /* kolor imie artysty */
}

/* Responzywność - gdy ekran jest waski */
@media (max-width: 700px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        max-width: 80%;
    }
}

/* --- Sticky Xmas Banner --- */
#xmas-banner {
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    border-bottom: 3px dashed rgb(117, 0, 25);
    text-align: center;
    padding: 1rem 0;
    z-index: 50; 
}

#xmas-banner .banner-title {
    font-family: 'Mountains of Christmas', serif;
    font-size: 1.3rem;
    color: rgb(117, 0, 25);
    margin: 0;
}

#days-counter {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(117, 0, 25);
    margin: 0.2rem 0 0 0;
}

/* ---------------------- FOOTER ---------------------- */


.footer {
    width: 100%;
    background: white;
    padding: 2rem 0;
    margin-top: 2rem;

    border-top: 3px dashed rgb(117, 0, 25); 

    display: flex;
    justify-content: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: "Mountains of Christmas", serif;
}


.icon {
    font-size: 1.6rem;
    margin: 0 1.5rem;
    text-decoration: none; 
    color: rgb(0, 59, 84);
}

.icon-row .icon:not(:last-child)::after {
    content: "•";
    color: rgb(117, 0, 25);
    font-size: 1.4rem;
    margin-left: 1.5rem;
    position: relative;
    top: -2px; 
}







